<%= form_for(@kitten) do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :age %><br />
      <%= f.number_field :age %>
    </p>
    <p>
      <%= f.label :cuteness %><br />
      <%= f.number_field :cuteness %>
    </p>
    <p>
      <%= f.label :softness %><br />
      <%= f.number_field :softness %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>